#picslide {
    width: 200px;
    border: 100px;
    float: left;
    margin-right: 20px;
    transition: transform 0.3s;
  }
  #profile {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
    transition: transform 0.3s;
  }
  #profile:hover {
    transform: scale(1.02);
  }
  #twlogo {
    width: 40px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    transition: transform 0.3s;
  }
  #twlogo:hover {
    transform: scale(1.1);
  }
  #ytlogo {
    width: 60px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    transition: transform 0.3s;
  }
  #ytlogo:hover {
    transform: scale(1.1);
  }
  em {
    color: blue;
    font-style: normal;
  }
  body {
    background-color: lightcyan;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    padding: 12px;
    background: #333;
    color: #fff;
    text-align: right;
    text-decoration: none;
  }
  .back-to-top:hover {
    background: #555;
  }
  form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  input [type="radio"] {
    display: none;
  }
         #portfolio {
            display: inline;
          }
          
          #btn {
            display: inline;
          }
          p {
            font-size: 20px;
            font-family: serif;
            margin-right: 150px;
            margin-left: 80px;
            text-indent: 20px;
        }
        tr:nth-child(even) {
            background-color: #D6EEEE;
          }
          table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
          }
          th, td {
            background-color: #96D4D4;
            color: black;
          }
          h2 {
           margin-left: 80px;
        }
        h3 {
            margin-left: 80px;
         }
         nav{
            margin-left: -10px;
            margin-right: -10px;
         }
         h1{
            text-decoration-line: overline underline;
            text-decoration-color: purple;
         }
         .p1 {
            text-indent: 0px;
         }
         #frame {
            margin: 0 auto;
            width: 300px;
            max-width: 100%;
            text-align: center;
        }
  
        #frame input[type=radio] {
            display: none;
        }
  
        #frame label {
            cursor: pointer;
            text-decoration: none;
        }
        #overflow {
            width: 100%;
            overflow: hidden;
        }
  
        #frame1:checked~#slides .inner {
            margin-left: 0;
        }
  
        #frame2:checked~#slides .inner {
            margin-left: -100%;
        }
  
        #frame3:checked~#slides .inner {
            margin-left: -200%;
        }
  
        #frame4:checked~#slides .inner {
            margin-left: -300%;
        }
  
        #slides .inner {
            transition: margin-left 800ms 
                cubic-bezier(0.770, 0.000, 0.175, 1.000);
            width: 400%;
            line-height: 0;
            height: 300px;
        }
  
        #slides .frame {
            width: 25%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #FFF;
        }
  
        #slides .frame_1 {
            background: darkblue;
        }
  
        #slides .frame_2 {
            background: #F90;
        }
  
        #slides .frame_3 {
            background: #606;
        }
  
        #slides .frame_4 {
            background: #C00;
        }
  
        #controls {
            margin: -180px 0 0 0;
            width: 100%;
            height: 50px;
            z-index: 3;
            position: relative;
        }
  
        #controls label {
            transition: opacity 0.2s ease-out;
            display: none;
            width: 50px;
            height: 50px;
            opacity: 100;
        }
  
        #controls label:hover {
            opacity: 1;
        }
  
        #frame1:checked~#controls label:nth-child(2),
        #frame2:checked~#controls label:nth-child(3),
        #frame3:checked~#controls label:nth-child(4),
        #frame4:checked~#controls label:nth-child(1) {
            background: 
url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
            float: right;
            margin: 0 -50px 0 0;
            display: block;
        }
  
        #frame1:checked~#controls label:nth-last-child(2),
        #frame2:checked~#controls label:nth-last-child(3),
        #frame3:checked~#controls label:nth-last-child(4),
        #frame4:checked~#controls label:nth-last-child(1) {
            background: 
url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
            float: left;
            margin: 0 0 0 -50px;
            display: block;
        }
  
        #bullets {
            margin: 150px 0 0;
            text-align: center;
        }
  
        #bullets label {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #ccc;
            margin: 0 10px;
        }
  
        #frame1:checked~#bullets label:nth-child(1),
        #frame2:checked~#bullets label:nth-child(2),
        #frame3:checked~#bullets label:nth-child(3),
        #frame4:checked~#bullets label:nth-child(4) {
            background: #444;
        }
  
        @media screen and (max-width: 900px) {
  
            #frame1:checked~#controls label:nth-child(2),
            #frame2:checked~#controls label:nth-child(3),
            #frame3:checked~#controls label:nth-child(4),
            #frame4:checked~#controls label:nth-child(1),
            #frame1:checked~#controls label:nth-last-child(2),
            #frame2:checked~#controls label:nth-last-child(3),
            #frame3:checked~#controls label:nth-last-child(4),
            #frame4:checked~#controls label:nth-last-child(1) {
                margin: 0;
            }
  
            #slides {
                max-width: calc(100% - 140px);
                margin: 0 auto;
            }
        }
        body {
            transition: 1.5s;
            }
            .night-toggle {
            width: 33px;
            height: 33px;
            right: 20px;
            top: 20px;
            position: absolute;
            }
            .night-toggle:hover{
              cursor: pointer;
            }
            .moon {
              background-color: transparent;
              box-shadow: -6px 1px 0 3px #275e8e;
              border-left:3px solid #27476D;
              border-radius:50%;
              width: 20px;
              height: 20px;
              margin-left:8px;
              margin-top:0px;
              transition: 2s;
            }
            .sun {
              background-color: #fdd462;
              box-shadow: 2px 0px 0px 1px #D19C29;
              border-radius:50%;
              width: 26px;
              height: 26px;
              transition: 2s;
            }
            
            /* ----- optional ----- */
            .break {
              flex-basis: 100%;
              height: 0;
            }
            .opt {
              display: flex;
              flex-wrap: wrap;
              justify-content:center;
              font-family: sans-serif;
              margin-top:5%;
              text-align:center;
            }
           
.wrapper .button{
  color: #111;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(2) span{
  color: #ff0000;
}

.no-style {
    text-decoration: none;
    color: inherit;
  }
  
